@import "./base/base";
@import "./components/components";
@import "./pages/product";
@import "./pages/cart";

.no-style-link {
	text-decoration: none;
	color: black;
}

section {
	display: flex;
	flex-wrap: wrap;
}
