// HEADER
header {
	display: flex;
	justify-content: space-between;
	border: 3px inset $primary-color;
}

.fas {
	color: $primary-color;
}


#logo {
	width: 40%;
}

#logo h1 {
	margin: 0px;
}

#logo img {
	width: 100%;
	margin: 0% 10%;
	align-self: center;
}
#cart-logo {
	margin-right: 5%;
}
#cart-logo img{
	width: 400px;
}
// HEADER DROPDOWN

header #dropdown {
	display: inline-block;
	align-self: center;
	margin-right: 5%;
	z-index: 99;
}
.alert-circle {
	color: $secondary-color;
	position: relative;
	bottom: 40px;
	left: 80px;
	animation: shine linear 500ms infinite;
}
header table {
	border: 3px solid black;
	border-collapse: collapse;
}

header tbody {
	border: 3px solid black;
}

header td {
	text-align: center;
	width: 50%;
	padding: 5px;
}

header th {
	width: 50%;
	padding: 5px;
	text-align: center;
	border: 3px solid black;
}

.fas.fa-shopping-cart {
	font-size: 60px;
}

.dropdown-cart {
	position: absolute;
	display: none;
	background-color: white;
	border: 2px solid black;
	right: 50px;
}

#triangle {
	position: absolute;
	top: -10px;
	right: calc();
	z-index: -1;
	border-right: 31px solid transparent;
	border-bottom: 54px solid black;
	border-left: 31px solid transparent;
}

#dropdown:hover .dropdown-cart {
	display: block;
}

// Return btn 

#return-btn {
	position: relative;
	width: 200px;
	margin: 50px;

}
#return-btn i {
	position: absolute;
	font-size: 5em;
	left: 60px;
	top: 25px;
	color: $primary-color;
}
#return-btn input {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1%;
}
#return-btn:hover i{
	color: darken($color: $primary-color, $amount: 10);
}


