// HEADER
header {
	display: flex;
	justify-content: space-between;
	border: 3px inset $primary-color;
}

.fas {
	color: $primary-color;
}


#logo {
	width: 40%;
}

#logo h1 {
	margin: 0px;
}

#logo img {
	width: 100%;
	margin: 0% 10%;
	align-self: center;
}

// HEADER DROPDOWN

header #dropdown {
	display: inline-block;
	align-self: center;
	margin-right: 5%;
}
.alert-circle {
	color: $secondary-color;
	position: relative;
	bottom: 45px;
	left: 85px;
	animation: shine linear 500ms infinite;
}
header table {
	border: 3px solid black;
	border-collapse: collapse;
}

header tbody {
	border: 3px solid black;
}

header td {
	text-align: center;
	width: 50%;
	padding: 5px;
}

header th {
	width: 50%;
	padding: 5px;
	text-align: center;
	border: 3px solid black;
}

#dropdown .cart {
	font-size: 4em;
}

.dropdown-cart {
	position: absolute;
	display: none;
	background-color: white;
	border: 2px solid black;
	right: 50px;
}

#triangle {
	position: absolute;
	top: -10px;
	right: calc();
	z-index: -1;
	border-right: 31px solid transparent;
	border-bottom: 54px solid black;
	border-left: 31px solid transparent;
}

#dropdown:hover .dropdown-cart {
	display: block;
}
// FOOTER
