@font-face {
	font-family: "roboto";
	src: url("Fonts/Roboto-Regular.ttf");
}
@font-face {
	font-family: "roboto-thin";
	src: url("Fonts/Roboto-Thin.ttf");
}
@font-face {
	font-family: "shrikhand";
	src: url("Fonts/Shrikhand-Regular.ttf");
}

body {
	background-color: #f3e9f1;
	font-family: 'roboto';
}
#bloc-page {
	margin: 0% 5%;
}
a {
	@include link-no-style;
}
.hidden {
	display: none;
	animation: none;
}