section {
	display: flex;
    justify-content: center;
	flex-wrap: wrap;
}

// Teddies
.teddies {
    display: flex;
    flex-direction: column;
    border: 3px solid $primary-color;
    margin: 20px;
}
.teddies img {
	width: 250px;
	height: 100%;
    border-bottom: 2px solid $primary-color;
}
.teddies-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: $linear-gradient;
    color: white;
    text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
    
}

.teddies-text h3, p {
    margin: 10px;
}