// Sheet

#teddy-sheet-image {
    width: 250px;
    height: 300px;
    object-fit: cover;
}
#teddy-sheet {
    display: flex;
    border: 5px $primary-color inset;
}
#teddy-card {
    display: flex;
    align-items: center;
}
#teddy-card h3 {
    font-size: 3em;
    margin: 20px 10px;
}

#description {
    font-size: 1.2em;
}
#price {
    font-size: 2em;
}

#teddy-custom {
    display: flex;
    text-align: center;
    font-size: 1.2em;
}
#teddy-custom select {
    width: 80%;
    font-size: 1em;
}
#teddy-form {
    display: flex;

}
#custom-bloc {
    width: 200px;
    align-self: center;
    margin: 25px;
}
#custom-btn {
    position: relative;
    background-image: $linear-gradient;
}
#custom-btn input {
    position: relative;
    height: 100%;
    background: none;
    color: white;
    border: 2px solid $primary-color;
    z-index: 1;
}
#custom-btn i {
    position: absolute;
    font-size: 50px;
    top: 170px;
    left: 30px;
    color: white;
    animation: rotate 2s;
}