@keyframes shine {
    0% {
        opacity: 80%;
        font-size: 1em;
    }
    50% {
        opacity: 100%;
        font-size: 1.1em;
    }
    100% {
        opacity: 80%;
        font-size: 1em;
    }
}

@keyframes rotate {
    0% {
        opacity: 0%;
        rotate: 0turn;
    }
    50% {
        opacity: 80%;
        rotate: 1turn;
    }
    100% {
        opacity: 100%;
        rotate: 1turn;
    }
}